<!DOCTYPE html>
<html>
    <head>
        <title>Bloc d'Ishaa</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Bloc d'Ishaa</a></h1>
        </header>

        <article>
            <time>publicat: 06.11.2025</time>
            <h2><a href="">El meu primer post</a></h2>
            <p>Sóc Ishaa, una desenvolupadora web i multiplataforma amb 20 anys. M'encanta crear aplicacions i pàgines web utilitzant diferents tecnologies. En aquest espai compartiré algunes de les meves experiències i coneixements sobre programació i desenvolupament.</p>
        </article>

    </body>
</html>
